<div class="attendee">
  <input type="hidden" name="attendee[emails][]" value="<%= email %>" />
  <div class="row form-group">
    <div class="col-md-9">
      <i class="fa fa-user" aria-hidden="true"></i> <%= email %>
    </div>
    <div class="col-md-3">
      <a href="javascript:void(0)" class="remove-attendee">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
