RAILS_MAX_THREADS: "6"
RAILS_MIN_THREADS: "1"
WEB_CONCURRENCY: "2"

development:
  RAILS_ENV: "development"
  HOST: "localhost:3000"
  FACEBOOK_KEY: "296802990772757"
  FACEBOOK_SECRET: "8e76da14d72eb19810be73f376c2971a"
  GOOGLE_KEY: "737856896779-uap14ldhfdv4ssphegm8f81rvn51ksg4.apps.googleusercontent.com"
  GOOGLE_SECRET: "ORsdsSEsVbToh4ljfb2uX7dO"
  HR_KEY: "c550483e49706ba821bccc6bac3f3b1e"
  HR_SECRET: "3b438b7cd973829cfa5233396968267c6c7aef298374561e6d4b4dc26c510b5c"
  CHATWORK_API_KEY: "2bdee2ea1c07e0d3de5a2de2b43e4c30"

production:
  RAILS_ENV: "production"
  HOST: "crb.framgia.vn"
  FACEBOOK_KEY: ""
  FACEBOOK_SECRET: ""
  GOOGLE_KEY: ""
  GOOGLE_SECRET: ""
  HR_KEY: ""
  HR_SECRET: ""
  CHATWORK_API_KEY: ""
  CRB_EMAIL_USERNAME: ""
  CRB_EMAIL_PASSWORD: ""
