@import 'color';

.organizations {
  .padding-none {
    padding: 0;
    position: relative;
    text-align: center;
  }

  .icon-email {
    i {
      font-size: 3em;
    }
  }

  .fix-height {
    height: 197px;
  }

  .result {
    background: $white;
    box-shadow: 1px 0 15px 0 $session-grey;
    position: relative;
  }

  .list-user {
    max-height: 250px;
    overflow-y: auto;
    transition: height 2s;

    p {
      padding: 0;
    }
  }

  .name-list {
    padding: 8px 6px;
    display: block;

    &:hover {
      background: $chambray-color;
    }

    span {
      margin-top: 5px;
    }
  }

  .img-user {
    width: 30px;
  }
}
